/* Переписанные их стили */

.modal__Container-sc-9c9301e1-0 {
  z-index: 102000;
}

.checkbox__Label-sc-4c388d12-1 a {
  color: #000;
}

.code__inputs {
    display: grid;
    grid-template-columns: repeat(6, 2.19vw);
    grid-gap: 0.83vw;
    margin: 0 auto 2.08vw;
    padding: 0;
    transition: opacity 0.3s ease;
    max-width: 17.29vw;
    justify-content: center;
  }

  .code__input {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 2.50vw;
    font-size: 0.78vw;
    box-shadow: none;
    outline: none;
    border: 1px solid #DCE1EA;
    background-color: #F6F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .code__input_error {
    border-color: #C8122D;
  }

  .code__info {
    font-family: Roboto-Regular, sans-serif;
    font-weight: 400;
    font-size: 0.83vw;
    line-height: 1.25;
    color: #5C6168;
    margin: 0 0 1.25vw;
    text-align: right;
  }

  .code__link {
    color: #0D1116;
    text-decoration: none;
  }

  .code__link:hover {
    text-decoration: underline;
  }

  /* Mobile
  ------------------------------------------*/

  @media screen and (max-width:1199px) {
    .code__inputs {
      grid-gap: 1.08vw;
      grid-template-columns: repeat(6, 4vw);
      margin: 0 auto 5.21vw;
      max-width: 100%;
    }
  
    .code__input {
      height: 6.25vw;
      font-size: 1.95vw;
    }
  
    .code__info {
      font-size: 2.08vw;
      margin: 0 0 3.13vw;
    }
  }

  @media screen and (max-width:767px) {
    .code__inputs {
      grid-gap: 2vw;
      margin: 0 auto 10.67vw;
      grid-template-columns: repeat(6, 8vw);
    }
  
    .code__input {
      height: 11.20vw;
      font-size: 4vw;
    }
  
    .code__info {
      font-size: 4.27vw;
      margin: 0 0 6.40vw;
    }
  }