.content {
    position: relative;
    z-index: 10;
}

a, path, button {
    transition: all .2s ease-in-out;
}

main a {
    color: #C8122D;
    text-decoration: none;
    cursor: pointer;
}

main a:hover,
main a:focus {
    color: #A1141B;
    text-decoration: none;
}