/* 1 React-tel */

/* 2 Calendar */

/* 3 DatePicker */

/* 4 pagination.min */

/* 5 */

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #FFFFFF;
}

.ikAgiX {
	margin-left: auto;
	margin-right: auto;
	z-index: 9;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 82.5vw;
}

@media screen and (max-width:1199px) {
	.ikAgiX {
		width: 93.87vw;
	}
}

@media screen and (max-width:767px) {
	.ikAgiX {
		width: 91.47vw;
	}
}

.dAIYlj {
	display: none;
}

@media screen and (max-width:767px) {
	.dAIYlj {
		display: block;
	}
}

.bknlKK {
	display: none;
	width: 100%;
}

@media screen and (max-width:767px) {
	.bknlKK {
		display: grid;
		gap: 3.2vw;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: repeat(3,min-content);
	}
}

.kJsOPK {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #A5ACB8;
	font-size: 0.73vw;
	font-family: FCSM-Normal,sans-serif;
	padding: 2.08vw 0 3.07vw;
	text-align: center;
	white-space: break-spaces;
}

@media screen and (max-width:1199px) {
	.kJsOPK {
		font-size: 1.56vw;
		padding: 4.17vw 0 5.22vw;
	}
}

@media screen and (max-width:767px) {
	.kJsOPK {
		font-size: 3.2vw;
		padding: 8.53vw 0 4.27vw;
	}
}

.iiilgy {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-top: 1.25vw;
}

@media screen and (max-width:1199px) {
	.iiilgy {
		padding-top: 3.65vw;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100%;
	}
}

@media screen and (max-width:767px) {
	.iiilgy {
		padding-top: 3.2vw;
	}
}

.VBSeG {
	display: grid;
	grid-template-rows: repeat(2,min-content);
	-webkit-box-pack: start;
	-webkit-justify-content: start;
	-ms-flex-pack: start;
	justify-content: start;
	gap: 0.42vw;
	margin: 0;
}

@media screen and (max-width:1199px) {
	.VBSeG {
		gap: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.VBSeG {
		gap: 3.2vw;
	}
}

.buBMZl {
	margin: 0;
	padding-bottom: 0.83vw;
	color: #FFFFFF;
	font-family: FCSM-Normal,sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.83vw;
}

@media screen and (max-width:1199px) {
	.buBMZl {
		font-size: 2.09vw;
		padding-bottom: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.buBMZl {
		font-size: 3.73vw;
		padding-bottom: 3.2vw;
		white-space: nowrap;
	}
}

.iXrbIl {
	cursor: pointer;
}

@media screen and (max-width:767px) {
}

.ihPWvT {
	display: grid;
	grid-template-columns: min-content min-content;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.gqHJRe {
	display: grid;
	row-gap: 1.25vw;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

@media screen and (max-width:1199px) {
	.gqHJRe {
		row-gap: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.gqHJRe {
		row-gap: 4.27vw;
	}
}

.lknVUf {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-column-gap: 4vw;
	padding-bottom: 1.67vw;
	color: #A5ACB8;
}

@media screen and (max-width:1199px) {
	.lknVUf {
		grid-column-gap: 7.56vw;
		grid-row-gap: 4.17vw;
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: repeat(2,auto);
		padding-bottom: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.lknVUf {
		grid-column-gap: 3.2vw;
		grid-row-gap: 6.4vw;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,auto);
		padding-bottom: 6.4vw;
	}
}

.cwJJmG {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 0.83vw;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.cwJJmG h2:nth-of-type(2) {
	padding-top: 2.08vw;
}

@media screen and (max-width:1199px) {
	.cwJJmG h2:nth-of-type(2) {
		padding-top: 2.61vw;
	}
}

@media screen and (max-width:767px) {
	.cwJJmG h2:nth-of-type(2) {
		padding-top: 3.2vw;
	}
}

@media screen and (max-width:1199px) {
	.cwJJmG {
		gap: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.cwJJmG {
		gap: 3.2vw;
	}
}

.JBFUZ {
	color: #FFFFFF;
	font-family: FCSM-Normal,sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.83vw;
	margin: 0;
}

@media screen and (max-width:1199px) {
	.JBFUZ {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.JBFUZ {
		font-weight: normal;
		font-size: 3.73vw;
	}
}

.cYuPTe {
	font-family: FCSM-Normal,sans-serif;
	cursor: pointer;
	font-size: 0.73vw;
	text-transform: uppercase;
}

@media screen and (max-width:1199px) {
	.cYuPTe {
		font-size: 1.83vw;
	}
}

@media screen and (max-width:767px) {
	.cYuPTe {
		font-size: 3.2vw;
	}
}

.gQSXlQ {
	display: grid;
	width: 82.5vw;
	padding: 1.67vw 0;
	grid-template-columns: repeat(4,auto);
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media screen and (max-width:767px) {
	.gQSXlQ {
		grid-template-columns: repeat(2,40.76vw);
		padding: 9.87vw 0;
	}
}

.gOkIOr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

@media screen and (max-width:767px) {
	.gOkIOr {
		padding: 4.27vw 0;
	}
}

@media screen and (max-width:767px) {
	.ijcfML {
		display: none;
	}
}

.ikosAE {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	gap: 1.25vw;
}

@media screen and (max-width:1199px) {
	.ikosAE {
		gap: 2.61vw;
	}
}

@media screen and (max-width:767px) {
	.ikosAE {
		gap: 2.13vw;
	}
}

.ckNbLC {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0.42vw;
	background-color: #A5ACB810;
	border-radius: 50%;
}

@media screen and (max-width:1199px) {
	.ckNbLC {
		padding: 1.04vw;
	}
}

@media screen and (max-width:767px) {
	.ckNbLC {
		padding: 2.13vw;
	}
}

.krKdUm {
	display: grid;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 2.08vw;
}

@media screen and (max-width:1199px) {
	.krKdUm {
		gap: 9vw;
	}
}

@media screen and (max-width:767px) {
	.krKdUm {
		grid-template-columns: 69.5vw 9vw;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		max-width: unset;
		gap: 14vw;
	}
}

.hiUfdI {
	font-family: FCSM-Normal,sans-serif;
}

.cLSVin {
	background: none;
	color: #FFFFFF;
	font-size: 0.83vw;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.cLSVin option {
	background: #0D1116;
}

@media screen and (max-width:1199px) {
	.cLSVin {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.cLSVin {
		font-size: 4.27vw;
	}
}

.eeVPEH:hover path {
	stroke: #CC122D;
}

.lhmESt:hover * {
	stroke: #CC122D;
}

.eGDZnW {
	width: 1.25vw;
	height: 1.25vw;
}

@media screen and (max-width:1199px) {
	.eGDZnW {
		width: 2.61vw;
		height: 2.61vw;
	}
}

@media screen and (max-width:767px) {
	.eGDZnW {
		width: 5.53vw;
		height: 5.53vw;
	}
}

.hGfEGh {
	width: 11.35vw;
	height: 3.15vw;
}

@media screen and (max-width:1199px) {
	.hGfEGh {
		width: 20.6vw;
		height: 5.74vw;
	}
}

@media screen and (max-width:767px) {
	.hGfEGh {
		width: 42.13vw;
		height: 11.73vw;
	}
}

.bPyYT {
	width: auto;
	height: 1.25vw;
}

@media screen and (max-width:1199px) {
	.bPyYT {
		width: auto;
		height: 2.87vw;
	}
}

@media screen and (max-width:767px) {
	.bPyYT {
		width: auto;
		height: 5.87vw;
	}
}

.pjsqZ {
	position: relative;
}

.jkAojg {
	position: absolute;
	font-family: FCSM-Normal,sans-serif;
	background: #CC122D;
	padding: 0.1vw 0.3vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	right: -0.5vw;
	top: -0.3vw;
	border-radius: 20px;
	font-size: 0.63vw;
	text-align: center;
}

@media screen and (max-width:1199px) {
	.jkAojg {
		padding: 0.2vw 0.8vw;
		font-size: 1.56vw;
		right: -0.8vw;
		top: -0.8vw;
	}
}

@media screen and (max-width:767px) {
	.jkAojg {
		padding: 0.3vw 1.5vw;
		font-size: 3.2vw;
		right: -1.9vw;
		top: -1.2vw;
	}
}

.bmlvaY:hover path {
	stroke: #CC122D;
}

.gvDKY {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
}

.LsdLr {
	font-family: FCSM-Normal,sans-serif;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	font-size: 0.73vw;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 0.83vw 1.67vw;
	-webkit-text-decoration: none;
	text-decoration: none;
}

.LsdLr:hover {
	box-shadow: inset 0 -0.21vw 0px #CC122D;
}

@media screen and (max-width:1199px) {
	.LsdLr {
		white-space: nowrap;
		padding: 2.09vw 4.17vw;
		font-size: 1.83vw;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.LsdLr:hover {
		box-shadow: inset 0 -0.52vw 0 #CC122D;
	}
}

@media screen and (max-width:767px) {
	.LsdLr {
		padding: 3.2vw 3.2vw;
		font-size: 3.2vw;
	}

	.LsdLr:hover {
		box-shadow: inset 0 -1.07vw 0 #CC122D;
	}
}

.eGKEWQ {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: opacity 225ms cubic-bezier(0.4,0,0.2,1);
	transition: opacity 225ms cubic-bezier(0.4,0,0.2,1);
	overflow: hidden;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	-webkit-transition: 225ms cubic-bezier(0.4,0,0.2,1) 0ms;
	transition: 225ms cubic-bezier(0.4,0,0.2,1) 0ms;
}

.hxwLib {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: opacity 225ms cubic-bezier(0.4,0,0.2,1);
	transition: opacity 225ms cubic-bezier(0.4,0,0.2,1);
	overflow: hidden;
	opacity: 1;
	z-index: 999;
	visibility: visible;
}

.iguwRV {
	font-family: FCSM-Normal,sans-serif;
	top: 0;
	right: 0;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	outline: 0;
	z-index: 1200;
	position: fixed;
	overflow-y: auto;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #FFFFFF;
	width: 28.44vw;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	visibility: hidden;
	width: 240px;
	-webkit-transform: translateX(240px);
	-ms-transform: translateX(240px);
	transform: translateX(240px);
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-transition: 325ms cubic-bezier(0,0,0.2,1) 0ms;
	transition: 325ms cubic-bezier(0,0,0.2,1) 0ms;
	-webkit-transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, -webkit-transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
	-webkit-transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
	transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
}

@media screen and (max-width:1199px) {
	.iguwRV {
		width: 71.84vw;
	}
}

@media screen and (max-width:767px) {
	.iguwRV {
		width: 100vw;
	}
}

.fofLYV {
	font-family: FCSM-Normal,sans-serif;
	top: 0;
	right: 0;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	outline: 0;
	z-index: 1200;
	position: fixed;
	overflow-y: auto;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #FFFFFF;
	width: 28.44vw;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	visibility: visible;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12);
	-webkit-transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, -webkit-transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
	-webkit-transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
	transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
}

@media screen and (max-width:1199px) {
	.fofLYV {
		width: 71.84vw;
	}
}

@media screen and (max-width:767px) {
	.fofLYV {
		width: 100vw;
	}
}

.joYNbt {
	width: 100%;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 1.25vw;
}

.joYNbt svg {
	width: 0.86vw;
	height: 0.86vw;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media screen and (max-width:1199px) {
	.joYNbt {
		padding: 0 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.joYNbt {
		padding: 0 4.27vw;
	}
}

.hCotJh {
	color: #0D1116;
	font-size: 1.25vw;
}

@media screen and (max-width:1199px) {
	.hCotJh {
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.hCotJh {
		font-size: 6.4vw;
	}
}

.iNVVBL {
	padding: 0 1.25vw;
}

@media screen and (max-width:1199px) {
	.iNVVBL {
		padding: 0 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.iNVVBL {
		padding: 0 4.27vw;
	}
}

.elaZWV {
	width: 1.25vw;
	height: 1.25vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.elaZWV svg {
	width: 100%;
	height: 100%;
}

@media screen and (max-width:1199px) {
	.elaZWV {
		width: 3.13vw;
		height: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.elaZWV {
		width: 6.4vw;
		height: 6.4vw;
	}
}

.hesYvP {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 1.25vw;
	height: 1.25vw;
	cursor: pointer;
}

@media screen and (max-width:1199px) {
	.hesYvP {
		width: 3.13vw;
		height: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.hesYvP {
		width: 6.4vw;
		height: 6.4vw;
	}
}

.cdxVMU {
	width: 0.23vw;
}

@media screen and (max-width:1199px) {
	.cdxVMU {
		width: 2.69vw;
		height: 4.69vw;
	}
}

@media screen and (max-width:767px) {
	.cdxVMU {
		width: 4.27vw;
		height: 4.27vw;
	}
}

.klwsOF {
	border: 1px solid #A5ACB8;
	height: 1.88vw;
	width: 1.88vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.klwsOF:hover {
	background: #CC122D;
	border: none;
}

.klwsOF:hover .minusIcon__StyledSVG-sc-8220d05c-0 path {
	stroke: #FFFFFF;
}

@media screen and (max-width:1199px) {
	.klwsOF {
		width: 4.69vw;
		height: 4.69vw;
	}
}

@media screen and (max-width:767px) {
	.klwsOF {
		width: 7.47vw;
		height: 7.47vw;
	}
}

.dDUbAx {
	width: 0.23vw;
}

@media screen and (max-width:1199px) {
	.dDUbAx {
		width: 2.69vw;
		height: 4.69vw;
	}
}

@media screen and (max-width:767px) {
	.dDUbAx {
		width: 4.27vw;
		height: 4.27vw;
	}
}

.hBghLl {
	border: 1px solid #A5ACB8;
	height: 1.88vw;
	width: 1.88vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.hBghLl:hover {
	background: #CC122D;
	border: none;
}

.hBghLl:hover .plusIcon__StyledSVG-sc-39faa48e-0 path {
	stroke: #FFFFFF;
}

@media screen and (max-width:1199px) {
	.hBghLl {
		width: 4.69vw;
		height: 4.69vw;
	}
}

@media screen and (max-width:767px) {
	.hBghLl {
		width: 7.47vw;
		height: 7.47vw;
	}
}

.sJocr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 4.06vw;
	border-bottom: 1px solid #DCE1EA;
	padding: 1.25vw 0;
	gap: 0.21vw;
}

.sJocr > svg {
	margin-top: auto;
	margin-left: auto;
	padding-bottom: 0.61vw;
}

@media screen and (max-width:1199px) {
	.sJocr {
		gap: 1.56vw;
	}

	.sJocr > svg {
		padding-bottom: 2vw;
	}
}

@media screen and (max-width:767px) {
	.sJocr {
		gap: 2.4vw;
		padding: 3.34vw 0 1.25vw;
		border-bottom: none;
	}

	.sJocr > svg {
		padding-bottom: 3vw;
	}
}

.gNiHtx {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 4.06vw;
	border-bottom: none;
	padding: 1.25vw 0;
	gap: 0.21vw;
}

.gNiHtx > svg {
	margin-top: auto;
	margin-left: auto;
	padding-bottom: 0.61vw;
}

@media screen and (max-width:1199px) {
	.gNiHtx {
		gap: 1.56vw;
	}

	.gNiHtx > svg {
		padding-bottom: 2vw;
	}
}

@media screen and (max-width:767px) {
	.gNiHtx {
		gap: 2.4vw;
		padding: 3.34vw 0 1.25vw;
		border-bottom: none;
	}

	.gNiHtx > svg {
		padding-bottom: 3vw;
	}
}

.fqGvoX {
	width: 4.6vw;
	height: 4.6vw;
	border: 1px solid #DCE1EA;
}

@media screen and (max-width:1199px) {
	.fqGvoX {
		width: 10.17vw;
		height: 10.17vw;
	}
}

@media screen and (max-width:767px) {
	.fqGvoX {
		width: 20.8vw;
		height: 20.8vw;
	}
}

.liNjeB {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0.16vw 0.42vw;
}

.eiliuw {
	-webkit-align-items: flex-start;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	margin: 0;
	font-size: 0.83vw;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	color: #0D1116;
}

@media screen and (max-width:1199px) {
	.eiliuw {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.eiliuw {
		font-size: 4.27vw;
	}
}

.ejSfJS {
	margin: 0;
	text-transform: uppercase;
	color: #5C6168;
	font-size: 0.63vw;
}

@media screen and (max-width:1199px) {
	.ejSfJS {
		font-size: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.ejSfJS {
		font-size: 3.2vw;
	}
}

.fPRmYR {
	margin-top: 0.83vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media screen and (max-width:767px) {
	.fPRmYR {
		display: none;
	}
}

.gykomS {
	display: none;
}

@media screen and (max-width:767px) {
	.gykomS {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		border-bottom: 1px solid #DCE1EA;
		margin-top: 1.14vw;
		padding-bottom: 3.34vw;
	}
}

.fOELjE {
	font-size: 0.64vw;
	color: #A5ACB8;
	text-transform: uppercase;
}

@media screen and (max-width:1199px) {
	.fOELjE {
		font-size: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.fOELjE {
		font-size: 3.2vw;
	}
}

.hdarQc {
	font-size: 0.94vw;
	margin-top: 0.26vw;
}

@media screen and (max-width:1199px) {
	.hdarQc {
		font-size: 2.35vw;
	}
}

@media screen and (max-width:767px) {
	.hdarQc {
		font-size: 4.8vw;
	}
}

.gEmBjL {
	font-size: 1.25vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #0D1116;
	grid-gap: 1.04vw;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 1.46vw;
	margin-right: 2.08vw;
}

@media screen and (max-width:1199px) {
	.gEmBjL {
		font-size: 3.13vw;
		grid-gap: 1.56vw;
		margin-left: 1.8vw;
		margin-right: 2.3vw;
	}
}

@media screen and (max-width:767px) {
	.gEmBjL {
		grid-gap: 3.87vw;
		margin-left: 7.94vw;
		margin-right: 7.94vw;
		font-size: 6.4vw;
	}
}

.elHEwW {
	font-size: 1.25vw;
	color: #0D1116;
}

@media screen and (max-width:1199px) {
	.elHEwW {
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.elHEwW {
		font-size: 4.8vw;
	}
}

.eKBmRh {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-end;
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
	margin-left: auto;
	padding-bottom: 0.42vw;
}

.eKBmRh svg {
	width: 1.25vw;
	height: 1.25vw;
}

.eKBmRh svg > path {
	stroke: #5C6168;
}

.eKBmRh svg:hover path {
	stroke: #CC122D;
}

@media screen and (max-width:1199px) {
	.eKBmRh svg {
		width: 3.13vw;
		height: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.eKBmRh {
		-webkit-align-items: flex-start;
		-webkit-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
	}

	.eKBmRh svg {
		width: 6.4vw;
		height: 6.4vw;
	}
}

.jiHubd {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}

.cPvSfe {
	width: 100%;
	font-size: 0.73vw;
	font-weight: 500;
	text-transform: uppercase;
	color: #0D1116;
	padding: 0.83vw 1.67vw;
	-webkit-text-decoration: none;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	margin-bottom: 1.35vw;
}

.cPvSfe:hover {
	border-bottom: 4px solid #CC122D;
}

@media screen and (max-width:1199px) {
	.cPvSfe {
		font-size: 1.83vw;
		margin-bottom: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.cPvSfe {
		font-size: 3.73vw;
		margin-bottom: 6.4vw;
	}
}

.fHGbKF {
	width: 100%;
	font-size: 0.73vw;
	font-weight: 500;
	text-transform: uppercase;
	color: #0D1116;
	padding: 0.83vw 1.67vw;
	-webkit-text-decoration: none;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	margin-bottom: 1.35vw;
	border-bottom: 4px solid#CC122D;
}

.fHGbKF:hover {
	border-bottom: 4px solid #CC122D;
}

@media screen and (max-width:1199px) {
	.fHGbKF {
		font-size: 1.83vw;
		margin-bottom: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.fHGbKF {
		font-size: 3.73vw;
		margin-bottom: 6.4vw;
	}
}

.fOxsBH {
	display: none;
	font-family: FCSM-Normal,sans-serif;
	position: absolute;
	top: -100;
	right: 0;
	width: 85.9vw;
	height: 5.69vw;
	background: #0D1116;
	grid-template-columns: 1fr 5.69vw;
	box-sizing: border-box;
}

.fOxsBH svg {
	width: 1.67vw;
	height: 1.67vw;
}

@media screen and (max-width:1199px) {
	.fOxsBH {
		display: none;
	}
}

.gSSMqJ {
	display: grid;
	font-family: FCSM-Normal,sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	width: 85.9vw;
	height: 5.69vw;
	background: #0D1116;
	grid-template-columns: 1fr 5.69vw;
	box-sizing: border-box;
}

.gSSMqJ svg {
	width: 1.67vw;
	height: 1.67vw;
}

@media screen and (max-width:1199px) {
	.gSSMqJ {
		display: none;
	}
}

.ewARQO {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1.88vw 2.08vw;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.ewARQO svg {
	cursor: pointer;
}

.ewARQO svg path {
	stroke: #FFFFFF;
}

.ewARQO svg:hover path {
	stroke: #CC122D;
}

.fKxPMe {
	background: #CC122D;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.faWSLt {
	height: 100%;
	width: 100%;
	background: transparent;
	color: #A5ACB8;
	font-size: 1.25vw;
	border: none;
}

.faWSLt:active,
.faWSLt:hover,
.faWSLt:focus {
	outline: 0;
	outline-offset: 0;
}

.hXlGKy {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 1500px;
	left: -1500px;
	background-color: #0D1116;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 999;
	overflow: auto;
	min-height: 100vh;
}

.ieQHLr {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0px;
	left: 0px;
	background-color: #0D1116;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 999;
	overflow: auto;
	min-height: 100vh;
}

.cfUqPs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100vw;
}

@media screen and (max-width:1199px) {
	.cfUqPs {
		padding: 2.61vw 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.cfUqPs {
		padding: 4.27vw 4.8vw;
	}
}

@media screen and (max-width:1199px) {
	.hlXwBF {
		position: absolute;
		-webkit-transform: translate(50%,-50%);
		-ms-transform: translate(50%,-50%);
		transform: translate(50%,-50%);
		top: 50%;
		right: 2vw;
	}

	.hlXwBF > svg {
		display: block;
		width: 2.09vw;
		height: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.hlXwBF {
		right: 4vw;
	}

	.hlXwBF > svg {
		width: 4.27vw;
		height: 4.27vw;
	}
}

@media screen and (max-width:1199px) {
	.fbYNmo {
		position: relative;
		width: 100%;
	}
}

@media screen and (max-width:767px) {
	.fbYNmo {
		width: 78.67vw;
	}
}

@media screen and (max-width:1199px) {
	.bzqUHW {
		background: #1B232C;
		border: 1px solid #5C6168;
		color: #FFFFFF;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 1.83vw 4.09vw 1.83vw 2.09vw;
		font-size: 2.09vw;
	}

	.bzqUHW:active,
 .bzqUHW:hover,
 .bzqUHW:focus {
		outline: 0;
		outline-offset: 0;
	}
}

@media screen and (max-width:767px) {
	.bzqUHW {
		padding: 1.33vw 8.27vw 1.33vw 4.27vw;
		font-size: 4.27vw;
	}
}

.gAPSVR {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: auto;
}

.egcOGS {
	color: #FFFFFF;
	-webkit-text-decoration: none;
	text-decoration: none;
	font-family: FCSM-Bold,sans-serif;
	text-transform: capitalize;
}

@media screen and (max-width:1199px) {
	.egcOGS {
		font-size: 4.17vw;
		padding: 1.56vw 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.egcOGS {
		font-size: 8.53vw;
		padding: 3.2vw 4.27vw;
	}
}

@media screen and (max-width:375px) {
	.egcOGS {
		font-size: 6.4vw;
		padding: 3.2vw 4.27vw;
	}
}

.fpiUYc {
	border-top: 0.05vw solid #A5ACB8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-family: FCSM-Normal,sans-serif;
	text-transform: uppercase;
}

@media screen and (max-width:1199px) {
	.fpiUYc {
		padding: 3.13vw;
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.fpiUYc {
		padding: 6.4vw 4.27vw;
		font-size: 4.27vw;
	}
}

.gfDrDW {
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.gICbNn {
	border-top: 0.05vw solid #A5ACB8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: FCSM-Normal,sans-serif;
	text-transform: uppercase;
}

@media screen and (max-width:1199px) {
	.gICbNn {
		padding: 3.13vw;
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.gICbNn {
		padding: 6.4vw 4.27vw;
		font-size: 4.27vw;
	}
}

.cZfQDg {
	border-top: 0.05vw solid #A5ACB8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	-ms-flex-pack: left;
	justify-content: left;
}

@media screen and (max-width:1199px) {
	.cZfQDg {
		padding: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.cZfQDg {
		padding: 6.4vw 4.27vw;
	}
}

.uVBdI {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 1.56vw;
	background-color: #A5ACB810;
	border-radius: 50%;
}

@media screen and (max-width:1199px) {
	.javYRX {
		background: #CC122D;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		cursor: pointer;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 1.83vw 1.76vw;
		height: 100%;
		border: 1px solid #5C6168;
		border-left: none;
		margin-right: 2.74vw;
	}
}

@media screen and (max-width:767px) {
	.javYRX {
		padding: 1.69vw;
	}

	.javYRX svg {
		width: 4.27vw;
		height: 4.27vw;
	}
}

.eqolbr {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-image: url(/mockImage/main/MainBanner.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.eqolbr:before {
	content: " ";
	background: linear-gradient(179.21deg,rgba(13,17,22,0) 0.69%,#0d1116 99.33%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

@media screen and (max-width:767px) {
	.eqolbr {
		background-position-y: bottom;
	}
}

.cRcHPK {
	height: 31.25vw;
}

.coXiEA {
	display: grid;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1.67vw 0;
}

.coXiEA .swiper {
	width: 100%;
	height: 100%;
}

.coXiEA .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #1B232C;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.coXiEA .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width:767px) {
	.coXiEA {
		display: none;
	}
}

.cRkfLg {
	display: grid;
	grid-auto-rows: auto auto;
	width: 100%;
	background: #1B232C;
	justify-items: center;
}

.IsKCL {
	background: #1B232C;
	display: grid;
	justify-items: center;
	padding-bottom: 3.33vw;
}

@media screen and (max-width:1199px) {
	.IsKCL {
		padding-bottom: 3.91vw;
	}
}

@media screen and (max-width:767px) {
	.IsKCL {
		padding-bottom: 8.53vw;
	}
}

.hBmXGS {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	color: #A5ACB8;
}

.fCiLOR {
	background: #5C6168;
	height: 0.05vw;
	border: none;
	width: 100%;
	margin: 0;
}

@media screen and (min-width:767px) {
	.fCiLOR {
		display: none;
	}
}

.fiKnVV {
	background: #5C6168;
	width: 100%;
	height: 0.05vw;
	border: none;
	margin: 1.25vw 0 1.61vw;
}

@media screen and (max-width:1199px) {
	.fiKnVV {
		margin: 2.87vw 0 4.3vw;
	}
}

@media screen and (max-width:767px) {
	.fiKnVV {
		display: none;
	}
}

.cuAPhp {
	width: 100%;
	background: #5C6168;
	height: 0.05vw;
	border: none;
	margin: 0;
}

.hcAvEp {
	color: #0D1116;
	width: 100%;
	padding: 0 0 4.06vw;
}

.hcAvEp * {
	box-sizing: border-box;
}

@media screen and (max-width:1199px) {
	.hcAvEp {
		padding-bottom: 12.17vw;
	}
}

@media screen and (max-width:767px) {
	.hcAvEp {
		padding-bottom: 23.8vw;
	}
}

.fCSJit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 0;
}

@media screen and (max-width:767px) {
	.fCSJit {
		margin-bottom: 5.93vw;
	}
}

.iASKDt {
	font-size: 0.83vw;
}

@media screen and (max-width:1199px) {
	.iASKDt {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.iASKDt {
		font-size: 4.27vw;
	}
}

.jiZoNc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 0.63vw;
	color: #CC122D;
	cursor: pointer;
	height: auto;
}

.jiZoNc svg {
	width: 1.25vw;
	height: 1.25vw;
}

@media screen and (max-width:1199px) {
	.jiZoNc {
		font-size: 1.56vw;
	}

	.jiZoNc svg {
		width: 3.13vw;
		height: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.jiZoNc {
		font-size: 3.2vw;
	}

	.jiZoNc svg {
		width: 6.4vw;
		height: 6.4vw;
	}
}

.fJrNUb {
	background: #CC122D;
	position: fixed;
	bottom: 0;
	right: 0;
	height: 4.06vw;
	width: 28.44vw;
	color: #FFFFFF;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 0.83vw;
}

@media screen and (max-width:1199px) {
	.fJrNUb {
		width: 71.84vw;
		height: 10.17vw;
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.fJrNUb {
		width: 100vw;
		height: 20.8vw;
		font-size: 2.3vw;
	}
}

.gxOIuc {
	padding-left: 0.83vw;
}

@media screen and (max-width:1199px) {
	.gxOIuc {
		padding-left: 1.2vw;
	}
}

@media screen and (max-width:767px) {
	.gxOIuc {
		padding-left: 4.27vw;
		font-size: 4.27vw;
	}
}

.jjjSwi {
	cursor: pointer;
	margin-right: 1.2vw;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-size: 0.73vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 1px solid #FFFFFF;
	padding: 0.73vw 1.25vw;
}

@media screen and (max-width:1199px) {
	.jjjSwi {
		padding: 1.83vw 3.13vw;
		font-size: 1.83vw;
	}
}

@media screen and (max-width:767px) {
	.jjjSwi {
		font-size: 3.73vw;
		padding: 3.73vw 6.4vw;
		margin-right: 4.27vw;
	}
}

.hHqvgE {
	white-space: nowrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.cUkDwe {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: baseline;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-left: auto;
	margin-right: 5.68vw;
	grid-gap: 1.72vw;
}

.cUkDwe svg {
	width: 1.25vw;
	height: 1.25vw;
	cursor: pointer;
}

.eglqPe {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 0.05vw solid #5C6168;
}

@media screen and (max-width:1199px) {
	.eglqPe {
		display: none;
	}
}

.fNhFWl {
	padding: 1.15vw 1.25vw;
	border-right: 0.05vw solid #5C6168;
}

.iQPPBc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.eGbcvL {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 100%;
	height: 50%;
	border-bottom: 0.05vw solid #5C6168;
}

.dIITjz {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1.25vw;
	padding-right: 1.67vw;
	cursor: pointer;
}

.kVdEoK {
	padding: 0.63vw 0.83vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	border-left: 0.05vw solid #5C6168;
}

.esxzQC {
	font-family: FCSM-Normal,sans-serif;
	font-size: 0.83vw;
	text-transform: uppercase;
	padding: 0.63vw 0.83vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-left: 0.05vw solid #5C6168;
	cursor: pointer;
}

.iHCMfg {
	font-family: FCSM-Normal,sans-serif;
	font-size: 0.83vw;
	text-transform: uppercase;
}

.jMDpZq {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 0.83vw;
	height: 50%;
}

.bxhbqQ {
	display: none;
	height: 8.86vw;
}

@media screen and (max-width:1199px) {
	.bxhbqQ {
		display: block;
	}
}

@media screen and (max-width:767px) {
	.bxhbqQ {
		height: 20.12vw;
	}
}

.ftVVBb {
	display: none;
	height: 0;
}

@media screen and (max-width:1199px) {
	.ftVVBb {
		display: block;
	}
}

@media screen and (max-width:767px) {
	.ftVVBb {
		height: 0;
	}
}

.cJZSRA {
	display: none;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1.56vw 2.09vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #0D1116;
	box-sizing: border-box;
	z-index: 99999;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	overflow: hidden;
}

@media screen and (max-width:1199px) {
	.cJZSRA {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 1.56vw 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.cJZSRA {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding: 4vw 4.27vw;
	}
}

.gfqdLN {
	display: none;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1.56vw 2.09vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #0D1116;
	box-sizing: border-box;
	z-index: 99999;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	overflow: hidden;
}

@media screen and (max-width:1199px) {
	.gfqdLN {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 1.56vw 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.gfqdLN {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding: 4vw 4.27vw;
	}
}

.cVkzGA {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
}

.cVkzGA svg {
	width: 2.71vw;
	height: 2.71vw;
}

@media screen and (max-width:1199px) {
	.cVkzGA svg * {
		stroke: #A5ACB8;
	}
}

@media screen and (max-width:767px) {
	.cVkzGA svg {
		width: 5.71vw;
		height: 5.71vw;
	}
}

.jvfjhc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
	padding-right: 3.13vw;
	grid-gap: 3.13vw;
}

.jvfjhc svg {
	width: 3.13vw;
	height: 3.13vw;
	cursor: pointer;
}

@media screen and (max-width:767px) {
	.jvfjhc svg {
		width: 6.4vw;
		height: 6.4vw;
	}
}

@media screen and (max-width:767px) {
	.jvfjhc {
		padding-right: 6.4vw;
		grid-gap: 6.4vw;
	}
}

.ayEgO {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.kZGjHm {
	background-color: #0D1116;
	color: #FFFFFF;
}

.eXeoTU {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #0D1116;
	font-family: "Roboto",sans-serif;
}

.jMXfwC {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.bAFDZf {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 1000;
	cursor: pointer;
	max-width: 82.5vw;
}

@media screen and (max-width:1199px) {
	.bAFDZf {
		max-width: 93.87vw;
	}
}

@media screen and (max-width:767px) {
	.bAFDZf {
		max-width: 91.47vw;
	}
}

@media screen and (max-width:375px) {
	.bAFDZf {
		max-width: 100vw;
	}
}

.cZaOeE {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #0D111680;
}

.jLZWtD {
	width: 24px;
	height: 24px;
	background-image: url("/_next/static/media/X.0487ad18.svg");
	background-size: cover;
	background-position: center;
}

.iBRqfJ {
	width: 100%;
	height: 100%;
	background-image: url("/_next/static/media/logo.8a1b2727.svg");
	background-size: cover;
	background-position: center;
}

.kgHoOI {
	font-family: "Roboto";
	font-weight: 400;
	position: relative;
	background: #FFFFFF;
	padding: 3.33vw 120px;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-height: 90vh;
	overflow: auto;
	width: 596px;
}

@media screen and (max-width:1199px) {
	.kgHoOI {
		padding: 5.33vw 10vw;
	}
}

@media screen and (max-width:767px) {
	.kgHoOI {
		width: 90vw;
		padding: 8.34vw 15.64vw;
	}
}

@media screen and (max-width:375px) {
	.kgHoOI {
		padding: 18vw 4.26vw;
		max-height: unset;
		height: 100vh;
		width: 100vw;
	}
}

.kgHoOI > div {
	width: 100%;
}

.iIFIri {
	margin-top: 24px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.iIFIri .submitBtn {
	font-size: 0.73vw;
	height: 2.5vw;
	width: 100%;
	padding: 0;
}

@media screen and (max-width:1199px) {
	.iIFIri .submitBtn {
		font-size: 1.16vw;
		height: 4vw;
	}
}

@media screen and (max-width:767px) {
	.iIFIri .submitBtn {
		font-size: 2vw;
		height: 7vw;
	}
}

@media screen and (max-width:375px) {
	.iIFIri .submitBtn {
		font-size: 3.73vw;
		height: 12.8vw;
	}
}

.geYSCk {
	position: absolute;
	top: 24px;
	right: 24px;
	cursor: pointer;
}

.geYSCk:hover {
	opacity: 0.5;
}

.kQSqoC {
	width: 218px;
	min-height: 61px;
	height: 61px;
	margin: 0 auto;
}

.nBsdl {
	border: 1px solid #CC122D;
	background: #CC122D;
	color: #FFFFFF;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 0;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 0.73vw;
	text-transform: uppercase;
	font-family: FCSM-Normal,sans-serif;
	padding: 0.78vw 1.25vw;
	cursor: pointer;
}

.nBsdl:hover {
	opacity: 0.8;
}

@media screen and (max-width:1199px) {
	.nBsdl {
		font-size: 1.83vw;
		padding: 1.96vw 3.13vw;
		grid-column-gap: 0;
	}
}

@media screen and (max-width:767px) {
	.nBsdl {
		font-size: 3.73vw;
		padding: 2.93vw 4.27vw;
		grid-column-gap: 0;
	}
}

.gHqvkX {
	display: block;
	position: relative;
	width: 100%;
}

.jVHxQw {
	position: absolute;
	-webkit-transform: translate(50%,-50%);
	-ms-transform: translate(50%,-50%);
	transform: translate(50%,-50%);
	top: 50%;
}

.jVHxQw > svg {
	display: block;
}

.kVUsdV {
	outline: none;
	box-sizing: border-box;
	font-size: 0.83vw;
	width: 100%;
	height: 2.5vw;
	border: 0.05vw solid;
	border-color: #DCE1EA;
	padding-right: 0.83vw;
	padding-left: 0.83vw;
	background-color: #F9FAFB;
	color: #0D1116;
}

.kVUsdV::-webkit-input-placeholder {
	color: #A5ACB8;
}

.kVUsdV::-moz-placeholder {
	color: #A5ACB8;
}

.kVUsdV:-ms-input-placeholder {
	color: #A5ACB8;
}

.kVUsdV::placeholder {
	color: #A5ACB8;
}

@media screen and (max-width:1199px) {
	.kVUsdV {
		height: 4vw;
		font-size: 1.33vw;
		padding-right: 1vw;
		padding-left: 1vw;
	}
}

@media screen and (max-width:767px) {
	.kVUsdV {
		font-size: 2.27vw;
		padding-top: 2.73vw;
		padding-bottom: 2.73vw;
		padding-right: 2.09vw;
		padding-left: 2.09vw;
	}
}

@media screen and (max-width:375px) {
	.kVUsdV {
		height: 12.8vw;
		font-size: 4.27vw;
		padding-right: 3.74vw;
		padding-left: 3.74vw;
	}
}

.kVUsdV[type="date"] {
	cursor: pointer;
	font-size: 0.83vw;
	border: 0.05vw solid #5C6168;
	box-sizing: border-box;
	padding: 0.597vw 0.83vw;
	border: 0.05vw solid #5C6168;
}

.kVUsdV[type="date"]::-webkit-calendar-picker-indicator {
	background: url("/mockImage/profile/CalendarBlank.svg") no-repeat center;
	background-size: contain;
}

@media screen and (max-width:1199px) {
	.kVUsdV[type="date"] {
		padding: 1.482vw 2.09vw;
		font-size: 2.09vw;
		margin-bottom: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.kVUsdV[type="date"] {
		font-size: 4.27vw;
		margin-bottom: 3.2vw;
		padding: 3.045vw 4.27vw;
	}
}

.jaOEIu {
	outline: none;
	box-sizing: border-box;
	font-size: 0.83vw;
	width: 100%;
	height: 2.5vw;
	border: 0.05vw solid;
	border-color: #DCE1EA;
	padding-right: 2.5vw;
	padding-left: 0.83vw;
	background-color: #F9FAFB;
	color: #0D1116;
}

.jaOEIu::-webkit-input-placeholder {
	color: #A5ACB8;
}

.jaOEIu::-moz-placeholder {
	color: #A5ACB8;
}

.jaOEIu:-ms-input-placeholder {
	color: #A5ACB8;
}

.jaOEIu::placeholder {
	color: #A5ACB8;
}

@media screen and (max-width:1199px) {
	.jaOEIu {
		height: 4vw;
		font-size: 1.33vw;
		padding-right: 4vw;
		padding-left: 1vw;
	}
}

@media screen and (max-width:767px) {
	.jaOEIu {
		font-size: 2.27vw;
		padding-top: 2.73vw;
		padding-bottom: 2.73vw;
		padding-right: 6.05vw;
		padding-left: 2.09vw;
	}
}

@media screen and (max-width:375px) {
	.jaOEIu {
		height: 12.8vw;
		font-size: 4.27vw;
		padding-right: 12.5vw;
		padding-left: 3.74vw;
	}
}

.jaOEIu[type="date"] {
	cursor: pointer;
	font-size: 0.83vw;
	border: 0.05vw solid #5C6168;
	box-sizing: border-box;
	padding: 0.597vw 0.83vw;
	border: 0.05vw solid #5C6168;
}

.jaOEIu[type="date"]::-webkit-calendar-picker-indicator {
	background: url("/mockImage/profile/CalendarBlank.svg") no-repeat center;
	background-size: contain;
}

@media screen and (max-width:1199px) {
	.jaOEIu[type="date"] {
		padding: 1.482vw 2.09vw;
		font-size: 2.09vw;
		margin-bottom: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.jaOEIu[type="date"] {
		font-size: 4.27vw;
		margin-bottom: 3.2vw;
		padding: 3.045vw 4.27vw;
	}
}

.exkTjF {
	outline: none;
	box-sizing: border-box;
	font-size: 0.83vw;
	width: 100%;
	height: 2.5vw;
	border: 0.05vw solid;
	border-color: #CC122D;
	padding-right: 0.83vw;
	padding-left: 0.83vw;
	background-color: #F9FAFB;
	color: #0D1116;
}

.exkTjF::-webkit-input-placeholder {
	color: #A5ACB8;
}

.exkTjF::-moz-placeholder {
	color: #A5ACB8;
}

.exkTjF:-ms-input-placeholder {
	color: #A5ACB8;
}

.exkTjF::placeholder {
	color: #A5ACB8;
}

@media screen and (max-width:1199px) {
	.exkTjF {
		height: 4vw;
		font-size: 1.33vw;
		padding-right: 1vw;
		padding-left: 1vw;
	}
}

@media screen and (max-width:767px) {
	.exkTjF {
		font-size: 2.27vw;
		padding-top: 2.73vw;
		padding-bottom: 2.73vw;
		padding-right: 2.09vw;
		padding-left: 2.09vw;
	}
}

@media screen and (max-width:375px) {
	.exkTjF {
		height: 12.8vw;
		font-size: 4.27vw;
		padding-right: 3.74vw;
		padding-left: 3.74vw;
	}
}

.exkTjF[type="date"] {
	cursor: pointer;
	font-size: 0.83vw;
	border: 0.05vw solid #5C6168;
	box-sizing: border-box;
	padding: 0.597vw 0.83vw;
	border: 0.05vw solid #CC122D;
}

.exkTjF[type="date"]::-webkit-calendar-picker-indicator {
	background: url("/mockImage/profile/CalendarBlank.svg") no-repeat center;
	background-size: contain;
}

@media screen and (max-width:1199px) {
	.exkTjF[type="date"] {
		padding: 1.482vw 2.09vw;
		font-size: 2.09vw;
		margin-bottom: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.exkTjF[type="date"] {
		font-size: 4.27vw;
		margin-bottom: 3.2vw;
		padding: 3.045vw 4.27vw;
	}
}

.dDcpvJ {
	font-family: FCSM Text,sans-serif;
	color: #CC122D;
	font-size: 0.83vw;
	margin-bottom: -1.05vw;
}

@media screen and (max-width:767px) {
	.dDcpvJ {
		font-size: 2.09vw;
		margin-bottom: -2.61vw;
	}
}

@media screen and (max-width:375px) {
	.dDcpvJ {
		font-size: 4.27vw;
		margin-bottom: -5.33vw;
	}
}

.cJmNto {
	font-size: 0.83vw;
	line-height: 1.24vw;
	color: #5C6168;
}

@media screen and (max-width:1199px) {
	.cJmNto {
		font-size: 1.33vw;
		line-height: 1.66vw;
	}
}

@media screen and (max-width:767px) {
	.cJmNto {
		font-size: 2.08vw;
		line-height: 2.6vw;
	}
}

@media screen and (max-width:375px) {
	.cJmNto {
		font-size: 4.26vw;
		line-height: 5.33vw;
	}
}

.lmmsyp {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.fpVGRF {
	position: absolute;
	font-size: 1.25vw;
	right: 0.625vw;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #0D1116;
}

@media screen and (max-width:1199px) {
	.fpVGRF {
		right: 1vw;
		font-size: 2vw;
	}
}

@media screen and (max-width:767px) {
	.fpVGRF {
		right: 1.56vw;
		font-size: 3.12vw;
	}
}

@media screen and (max-width:375px) {
	.fpVGRF {
		right: 3.2vw;
		font-size: 6.4vw;
	}
}

.bJdXsa {
	font-family: "FCSM Text";
	font-style: normal;
	font-weight: 500;
	font-size: 1.25vw;
	margin: 0;
	text-align: center;
	width: 15.6vw;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

@media screen and (max-width:1199px) {
	.bJdXsa {
		font-size: 2vw;
		width: 100%;
	}
}

@media screen and (max-width:767px) {
	.bJdXsa {
		font-size: 3.13vw;
	}
}

@media screen and (max-width:375px) {
	.bJdXsa {
		font-size: 6.4vw;
	}
}

.bcVWCy {
	font-size: 0.83vw;
	margin-top: 0.83vw;
	color: #5C6168;
	width: 100%;
	text-align: center;
}

.bcVWCy > span:last-child {
	-webkit-text-decoration: underline;
	text-decoration: underline;
	margin-left: 0.4vw;
	color: #0D1116;
}

@media screen and (max-width:1199px) {
	.bcVWCy {
		font-size: 1.33vw;
	}
}

@media screen and (max-width:767px) {
	.bcVWCy {
		font-size: 2.08vw;
	}
}

@media screen and (max-width:375px) {
	.bcVWCy {
		font-size: 4.26vw;
	}
}

.dPxoyA {
	display: grid;
	margin-top: 44px;
	gap: 20px;
}

.jabhbZ {
	text-transform: uppercase;
	text-align: right;
	margin-top: 16px;
	margin-bottom: 40px;
	font-family: "FCSM Text";
	font-weight: 500;
	font-size: 12px;
}

.jMzYmR {
	color: #0D1116;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #FFFFFF;
}