body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #FFFFFF;
}

.bpArAX {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-image: url(/mockImage/main/MainBanner.png);
	background-position: center;
	background-size: cover;
}

.bpArAX:before {
	content: " ";
	background: linear-gradient(179.21deg,rgba(13,17,22,0) 0.69%,#0d1116 99.33%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

@media screen and (max-width:767px) {
	.bpArAX {
		background-position-y: bottom;
	}
}

.imhwFd {
	overflow: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	z-index: 5;
}

@media screen and (max-width:1199px) {
	.imhwFd {
		margin: 0 3.13vw;
		gap: 3.13vw;
	}

	.imhwFd::-webkit-scrollbar {
		width: 6.52vw;
		height: 1.3vw;
		border-radius: unset;
	}
}

@media screen and (max-width:767px) {
	.imhwFd {
		margin: 0 4.27vw;
		gap: 4.27vw;
	}

	.imhwFd::-webkit-scrollbar {
		height: 1.07vw;
	}
}

.gDGeJJ {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

@media screen and (max-width:1199px) {
	.gDGeJJ {
		display: none;
	}
}

.hqeVES {
	display: none;
}

@media screen and (max-width:1199px) {
	.hqeVES {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
	}
}

.fhFd {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

@media screen and (max-width:1199px) {
	.fhFd {
		row-gap: 0.52vw;
	}
}

@media screen and (max-width:767px) {
	.fhFd {
		row-gap: 1.07vw;
	}
}

.eaalxS {
	display: grid;
	grid-template-columns: repeat(4,auto);
	grid-column-gap: 0.42vw;
	font-family: FCSM-Medium,sans-serif;
	margin-bottom: 0.21vw;
	-webkit-align-items: flex-start;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}

@media screen and (max-width:1199px) {
	.eaalxS {
		grid-column-gap: 1.04vw;
		margin-bottom: 0.52vw;
	}
}

@media screen and (max-width:767px) {
	.eaalxS {
		grid-column-gap: 2.13vw;
		margin-bottom: 1.07vw;
	}
}

.ieMgcd {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cIhjeY {
	width: 6.77vw;
}

@media screen and (max-width:1199px) {
	.cIhjeY {
		width: 10.56vw;
	}
}

@media screen and (max-width:767px) {
	.cIhjeY {
		width: 21.6vw;
	}
}

.fuZvWv {
	border-radius: 0.42vw;
	background: #FF6A13;
	color: #FFFFFF;
	font-size: 0.89vw;
	padding: 0.31vw 0.73vw;
}

@media screen and (max-width:1199px) {
	.fuZvWv {
		font-size: 1.83vw;
		padding: 0.52vw 1.83vw;
		border-radius: 1.04vw;
	}
}

@media screen and (max-width:767px) {
	.fuZvWv {
		font-size: 3.73vw;
		padding: 1.07vw 3.73vw;
		border-radius: 2.13vw;
	}
}

.kQetBx {
	border-radius: 0.42vw;
	background: #FFFFFF;
	color: #0D1116;
	font-size: 0.89vw;
	padding: 0.31vw 0.73vw;
}

@media screen and (max-width:1199px) {
	.kQetBx {
		font-size: 1.83vw;
		padding: 0.52vw 1.83vw;
		border-radius: 1.04vw;
	}
}

@media screen and (max-width:767px) {
	.kQetBx {
		font-size: 3.73vw;
		padding: 1.07vw 3.73vw;
		border-radius: 2.13vw;
	}
}

.jLiEeX {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 0.47vw;
	color: #A5ACB8;
	text-transform: uppercase;
	font-size: 0.73vw;
}

@media screen and (max-width:1199px) {
	.jLiEeX {
		font-size: 1.17vw;
	}
}

@media screen and (max-width:767px) {
	.jLiEeX {
		font-size: 2.4vw;
	}
}

.esGdLW {
	width: 1.04vw;
	height: 1.04vw;
}

@media screen and (max-width:1199px) {
	.esGdLW {
		width: 2.61vw;
		height: 2.61vw;
	}
}

@media screen and (max-width:767px) {
	.esGdLW {
		width: 5.53vw;
		height: 5.53vw;
	}
}

.kMCLcM {
	border: 1px solid #CC122D;
	background: #CC122D;
	color: #FFFFFF;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 0.52vw;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 0.73vw;
	text-transform: uppercase;
	font-family: FCSM-Normal,sans-serif;
	padding: 0.78vw 1.25vw;
	cursor: pointer;
}

.kMCLcM:hover {
	opacity: 0.8;
}

@media screen and (max-width:1199px) {
	.kMCLcM {
		font-size: 1.83vw;
		padding: 1.96vw 3.13vw;
		grid-column-gap: 1.3vw;
	}
}

@media screen and (max-width:767px) {
	.kMCLcM {
		font-size: 3.73vw;
		padding: 2.93vw 4.27vw;
		grid-column-gap: 2.67vw;
	}
}

.nBsdl {
	border: 1px solid #CC122D;
	background: #CC122D;
	color: #FFFFFF;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 0;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 0.73vw;
	text-transform: uppercase;
	font-family: FCSM-Normal,sans-serif;
	padding: 0.78vw 1.25vw;
	cursor: pointer;
}

.nBsdl:hover {
	opacity: 0.8;
}

@media screen and (max-width:1199px) {
	.nBsdl {
		font-size: 1.83vw;
		padding: 1.96vw 3.13vw;
		grid-column-gap: 0;
	}
}

@media screen and (max-width:767px) {
	.nBsdl {
		font-size: 3.73vw;
		padding: 2.93vw 4.27vw;
		grid-column-gap: 0;
	}
}

.fUKTrN {
	-webkit-text-decoration: none;
	text-decoration: none;
	white-space: nowrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media screen and (max-width:1199px) {
	.fUKTrN {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}

@media screen and (max-width:767px) {
	.fUKTrN {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media screen and (max-width:767px) {
	.hqznnG {
		padding: 1.87vw 2.93vw;
	}
}

.kDmcxQ {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 1.25vw 0 2.08vw;
	width: 100%;
}

@media screen and (max-width:1199px) {
	.kDmcxQ {
		margin: 3.13vw 0 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.kDmcxQ {
		margin: 5.6vw 0 1.07vw;
	}
}

.iJYfum {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	grid-column-gap: 1.25vw;
}

@media screen and (max-width:1199px) {
	.iJYfum {
		grid-column-gap: 3.13vw;
		margin-bottom: 0.52vw;
	}
}

@media screen and (max-width:767px) {
	.iJYfum {
		grid-column-gap: 4.27vw;
		margin-bottom: 1.07vw;
	}
}

.dA-dqRX {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.emGMPe {
	width: 4.58vw;
}

@media screen and (max-width:1199px) {
	.emGMPe {
		width: 15.65vw;
	}
}

@media screen and (max-width:767px) {
	.emGMPe {
		width: 17.07vw;
	}
}

.ksroO {
	width: 6.25vw;
}

@media screen and (max-width:1199px) {
	.ksroO {
		width: 15.65vw;
	}
}

@media screen and (max-width:767px) {
	.ksroO {
		width: 17.07vw;
	}
}

.bmaLJB {
	text-transform: uppercase;
	text-align: center;
	font-family: FCSM-Normal,sans-serif;
	font-size: 0.73vw;
}

@media screen and (max-width:1199px) {
	.bmaLJB {
		font-family: FCSM-Normal,sans-serif;
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.bmaLJB {
		font-size: 3.2vw;
	}
}

.iBCmcl {
	text-transform: uppercase;
	text-align: center;
	font-family: FCSM-Bold,sans-serif;
	font-size: 1.25vw;
}

@media screen and (max-width:1199px) {
	.iBCmcl {
		font-family: FCSM-Normal,sans-serif;
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.iBCmcl {
		font-size: 3.2vw;
	}
}

.iFGYNO {
	color: #FFFFFF;
	font-size: 2.08vw;
	font-family: FCSM-Bold,sans-serif;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	line-height: 1;
}

@media screen and (max-width:1199px) {
	.iFGYNO {
		font-size: 5.52vw;
	}
}

@media screen and (max-width:767px) {
	.iFGYNO {
		font-size: 6.4vw;
	}
}

.kXQOEi {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0.42vw;
}

@media screen and (max-width:1199px) {
	.kXQOEi {
		gap: 0.52vw;
	}
}

.DjQjf {
	margin: 0;
	width: 10.16vw;
	color: #CC122D;
	font-family: FCSM-Bold,sans-serif;
	font-size: 2.08vw;
	white-space: nowrap;
}

@media screen and (max-width:1199px) {
	.DjQjf {
		width: 23vw;
		font-size: 5.22vw;
	}
}

@media screen and (max-width:767px) {
	.DjQjf {
		width: 30.67vw;
		font-size: 6.4vw;
	}
}

.fOTlum {
	margin: 0;
	width: 4.69vw;
	color: #CC122D;
	font-family: FCSM-Bold,sans-serif;
	font-size: 0.94vw;
	white-space: nowrap;
}

@media screen and (max-width:1199px) {
	.fOTlum {
		width: 26.73vw;
		font-size: 5.22vw;
	}
}

@media screen and (max-width:767px) {
	.fOTlum {
		width: 30.67vw;
		font-size: 6.4vw;
	}
}

.fsUezH {
	font-family: Roboto-Regular,sans-serif;
	font-weight: normal;
	color: #A5ACB8;
	margin: 0;
	font-size: 0.83vw;
}

@media screen and (max-width:1199px) {
	.fsUezH {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.fsUezH {
		width: 100%;
		text-align: center;
		display: block;
		padding: 0 0 4.27vw;
		font-size: 4.27vw;
	}
}

@media screen and (max-width:767px) {
	.gSYsjB {
		display: none;
	}
}

.guIGOd {
	padding: 1.25vw 1.25vw 0 1.25vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #1B232C;
	color: #FFFFFF;
	box-sizing: border-box;
	cursor: default;
	width: 19.69vw;
}

.guIGOd:hover {
	-webkit-transform: scale(1.02,1.02);
	-ms-transform: scale(1.02,1.02);
	transform: scale(1.02,1.02);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

@media screen and (max-width:1199px) {
	.guIGOd {
		width: 93.87vw;
		padding: 3.13vw 3.13vw 0 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.guIGOd {
		width: 91.47vw;
		padding: 4.27vw 4.27vw 0 4.27vw;
	}
}

.gesPSf {
	padding: 1.25vw 1.25vw 0 1.25vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #1B232C;
	color: #FFFFFF;
	box-sizing: border-box;
	cursor: default;
	width: 40.63vw;
}

.gesPSf:hover {
	-webkit-transform: scale(1.02,1.02);
	-ms-transform: scale(1.02,1.02);
	transform: scale(1.02,1.02);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

@media screen and (max-width:1199px) {
	.gesPSf {
		width: 93.87vw;
		padding: 3.13vw 3.13vw 0 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.gesPSf {
		width: 91.47vw;
		padding: 4.27vw 4.27vw 0 4.27vw;
	}
}

.cFhQOg {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 0.42vw;
}

@media screen and (max-width:1199px) {
	.cFhQOg {
		gap: 1.04vw;
	}
}

@media screen and (max-width:767px) {
	.cFhQOg {
		gap: 2.13vw;
	}
}

.ktcSdf {
	color: #A5ACB8;
	margin: 0;
	font-family: Roboto-Regular,sans-serif;
	font-size: 0.84vw;
	font-weight: normal;
}

@media screen and (max-width:1199px) {
	.ktcSdf {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.ktcSdf {
		font-size: 4.27vw;
	}
}

.bQzsjB {
	text-transform: uppercase;
	font-family: FCSM-Bold,sans-serif;
	font-size: 1.25vw;
	color: #FFFFFF;
}

@media screen and (max-width:1199px) {
	.bQzsjB {
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.bQzsjB {
		font-size: 4.27vw;
	}
}

.fRSaqj {
	width: calc(100% + 2.5vw);
	height: 2.71vw;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media screen and (max-width:1199px) {
	.fRSaqj {
		height: 6.78vw;
		width: calc(100% + 6.26vw);
	}
}

@media screen and (max-width:767px) {
	.fRSaqj {
		height: 10.67vw;
		width: calc(100% + 8.54vw);
	}
}

.jokhsJ {
	width: calc(100% + 2.5vw);
	height: 2.4vw;
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media screen and (max-width:1199px) {
	.jokhsJ {
		height: 6.78vw;
		width: calc(100% + 6.26vw);
	}
}

@media screen and (max-width:767px) {
	.jokhsJ {
		height: 10.67vw;
		width: calc(100% + 8.54vw);
	}
}

.bmqyOL {
	position: absolute;
	height: 100%;
	width: auto;
}

.kIzeQg {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	margin: 4.17vw 1.25vw 7.3vw;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	z-index: 2;
}

.kIzeQg > div {
	margin-right: 1.25vw;
}

.kIzeQg > div:nth-last-child(1) {
	margin-right: 0;
}

@media screen and (max-width:1199px) {
	.kIzeQg {
		margin: 15.78vw 0 3.13vw;
	}

	.kIzeQg > div {
		margin-right: 3.13vw;
	}

	.kIzeQg > div:nth-last-child(1) {
		margin-right: 0;
	}
}

@media screen and (max-width:767px) {
	.kIzeQg {
		margin: 45.87vw 0 3.13vw;
	}

	.kIzeQg > div {
		margin-right: 4.27vw;
	}

	.kIzeQg > div:nth-last-child(1) {
		margin-right: 0;
	}
}

.bjSaAl > div {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.bPsTEY {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 21.88vw;
}

@media screen and (max-width:1199px) {
	.bPsTEY {
		margin-bottom: 10.43vw;
	}
}

@media screen and (max-width:767px) {
	.bPsTEY {
		margin-bottom: 10.67vw;
	}
}

.grAoD {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	padding-top: 25.63vw;
	margin-bottom: -13.8vw;
}

.grAoD > div > div {
	margin: 0;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media screen and (max-width:1199px) {
	.grAoD {
		margin: 0;
		padding: 0 3.13vw 0;
		overflow: auto;
	}
}

@media screen and (max-width:767px) {
	.grAoD {
		padding: 0 4.27vw 0;
	}
}

.iZizaj {
	margin-left: auto;
	margin-right: auto;
	z-index: 70;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 82.5vw;
}

@media screen and (max-width:1199px) {
	.iZizaj {
		width: 93.87vw;
	}
}

@media screen and (max-width:767px) {
	.iZizaj {
		width: 91.47vw;
	}
}

.dAIYlj {
	display: none;
}

@media screen and (max-width:767px) {
	.dAIYlj {
		display: block;
	}
}

.jHrSFs {
	width: 20.5vw;
}

.bknlKK {
	display: none;
	width: 100%;
}

@media screen and (max-width:767px) {
	.bknlKK {
		display: grid;
		gap: 3.2vw;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: repeat(3,min-content);
	}
}

.kJsOPK {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #A5ACB8;
	font-size: 0.73vw;
	font-family: FCSM-Normal,sans-serif;
	padding: 2.08vw 0 3.07vw;
	text-align: center;
	white-space: break-spaces;
}

@media screen and (max-width:1199px) {
	.kJsOPK {
		font-size: 1.56vw;
		padding: 4.17vw 0 5.22vw;
	}
}

@media screen and (max-width:767px) {
	.kJsOPK {
		font-size: 3.2vw;
		padding: 8.53vw 0 4.27vw;
	}
}

.iiilgy {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-top: 1.25vw;
}

@media screen and (max-width:1199px) {
	.iiilgy {
		padding-top: 3.65vw;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100%;
	}
}

@media screen and (max-width:767px) {
	.iiilgy {
		padding-top: 3.2vw;
	}
}

.VBSeG {
	display: grid;
	grid-template-rows: repeat(2,min-content);
	-webkit-box-pack: start;
	-webkit-justify-content: start;
	-ms-flex-pack: start;
	justify-content: start;
	gap: 0.42vw;
	margin: 0;
}

@media screen and (max-width:1199px) {
	.VBSeG {
		gap: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.VBSeG {
		gap: 3.2vw;
	}
}

.buBMZl {
	margin: 0;
	padding-bottom: 0.83vw;
	color: #FFFFFF;
	font-family: FCSM-Normal,sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.83vw;
}

@media screen and (max-width:1199px) {
	.buBMZl {
		font-size: 2.09vw;
		padding-bottom: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.buBMZl {
		font-size: 3.73vw;
		padding-bottom: 3.2vw;
		white-space: nowrap;
	}
}

.iXrbIl {
	cursor: pointer;
}

@media screen and (max-width:767px) {
}

.ihPWvT {
	display: grid;
	grid-template-columns: min-content min-content;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.gqHJRe {
	display: grid;
	row-gap: 1.25vw;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

@media screen and (max-width:1199px) {
	.gqHJRe {
		row-gap: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.gqHJRe {
		row-gap: 4.27vw;
	}
}

.cYnJBs {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-column-gap: 4vw;
	padding-bottom: 1.67vw;
	color: #A5ACB8;
}

@media screen and (max-width:1199px) {
	.cYnJBs {
		grid-column-gap: 7.56vw;
		grid-row-gap: 4.17vw;
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: repeat(2,auto);
		padding-bottom: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.cYnJBs {
		grid-column-gap: 3.2vw;
		grid-row-gap: 6.4vw;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,auto);
		padding-bottom: 6.4vw;
	}
}

.iYVzYB {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 0.83vw;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.iYVzYB h2:nth-of-type(2) {
	padding-top: 2.08vw;
}

@media screen and (max-width:1199px) {
	.iYVzYB h2:nth-of-type(2) {
		padding-top: 2.61vw;
	}
}

@media screen and (max-width:767px) {
	.iYVzYB h2:nth-of-type(2) {
		padding-top: 3.2vw;
	}
}

@media screen and (max-width:1199px) {
	.iYVzYB {
		gap: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.iYVzYB {
		gap: 3.2vw;
	}
}

.kilsne {
	color: #FFFFFF;
	font-family: FCSM-Normal,sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.83vw;
	margin: 0;
}

@media screen and (max-width:1199px) {
	.kilsne {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.kilsne {
		font-weight: normal;
		font-size: 3.73vw;
	}
}

.gEsDMd {
	font-family: FCSM-Normal,sans-serif;
	cursor: pointer;
	font-size: 0.73vw;
	text-transform: uppercase;
	-webkit-text-decoration: none;
	text-decoration: none;
	color: inherit;
}

@media screen and (max-width:1199px) {
	.gEsDMd {
		font-size: 1.83vw;
	}
}

@media screen and (max-width:767px) {
	.gEsDMd {
		font-size: 3.2vw;
	}
}

.gQSXlQ {
	display: grid;
	width: 82.5vw;
	padding: 1.67vw 0;
	grid-template-columns: repeat(4,auto);
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media screen and (max-width:767px) {
	.gQSXlQ {
		grid-template-columns: repeat(2,40.76vw);
		padding: 9.87vw 0;
	}
}

.hOzJSW {
	display: grid;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@media screen and (max-width:1199px) {
	.gfyTUc {
		width: 21.67vw;
	}
}

@media screen and (max-width:767px) {
	.gfyTUc {
		width: 44.27vw;
	}
}

.gOkIOr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

@media screen and (max-width:767px) {
	.gOkIOr {
		padding: 4.27vw 0;
	}
}

@media screen and (max-width:767px) {
	.ijcfML {
		display: none;
	}
}

.ikosAE {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	gap: 1.25vw;
}

@media screen and (max-width:1199px) {
	.ikosAE {
		gap: 2.61vw;
	}
}

@media screen and (max-width:767px) {
	.ikosAE {
		gap: 2.13vw;
	}
}

.ckNbLC {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0.42vw;
	background-color: #A5ACB810;
	border-radius: 50%;
}

@media screen and (max-width:1199px) {
	.ckNbLC {
		padding: 1.04vw;
	}
}

@media screen and (max-width:767px) {
	.ckNbLC {
		padding: 2.13vw;
	}
}

.krKdUm {
	display: grid;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-template-columns: auto auto;
	gap: 2.08vw;
}

@media screen and (max-width:1199px) {
	.krKdUm {
		gap: 9vw;
	}
}

@media screen and (max-width:767px) {
	.krKdUm {
		grid-template-columns: 69.5vw 9vw;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		max-width: unset;
		gap: 14vw;
	}
}

.hiUfdI {
	font-family: FCSM-Normal,sans-serif;
}

.cLSVin {
	background: none;
	color: #FFFFFF;
	font-size: 0.83vw;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.cLSVin option {
	background: #0D1116;
}

@media screen and (max-width:1199px) {
	.cLSVin {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.cLSVin {
		font-size: 4.27vw;
	}
}

.eeVPEH:hover path {
	stroke: #CC122D;
}

.lhmESt:hover * {
	stroke: #CC122D;
}

.eGDZnW {
	width: 1.25vw;
	height: 1.25vw;
}

@media screen and (max-width:1199px) {
	.eGDZnW {
		width: 2.61vw;
		height: 2.61vw;
	}
}

@media screen and (max-width:767px) {
	.eGDZnW {
		width: 5.53vw;
		height: 5.53vw;
	}
}

.bPyYT {
	width: auto;
	height: 1.25vw;
}

@media screen and (max-width:1199px) {
	.bPyYT {
		width: auto;
		height: 2.87vw;
	}
}

@media screen and (max-width:767px) {
	.bPyYT {
		width: auto;
		height: 5.87vw;
	}
}

.gvDKY {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
}

.LsdLr {
	font-family: FCSM-Normal,sans-serif;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	font-size: 0.73vw;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 0.83vw 1.67vw;
	-webkit-text-decoration: none;
	text-decoration: none;
}

.LsdLr:hover {
	box-shadow: inset 0 -0.21vw 0px #CC122D;
}

@media screen and (max-width:1199px) {
	.LsdLr {
		white-space: nowrap;
		padding: 2.09vw 4.17vw;
		font-size: 1.83vw;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.LsdLr:hover {
		box-shadow: inset 0 -0.52vw 0 #CC122D;
	}
}

@media screen and (max-width:767px) {
	.LsdLr {
		padding: 3.2vw 3.2vw;
		font-size: 3.2vw;
	}

	.LsdLr:hover {
		box-shadow: inset 0 -1.07vw 0 #CC122D;
	}
}

.ejdxId {
	display: none;
	font-family: FCSM-Normal,sans-serif;
	position: absolute;
	top: -100;
	right: 0;
	width: 85.9vw;
	height: 5.69vw;
	background: #0D1116;
	grid-template-columns: 1fr 5.69vw;
	box-sizing: border-box;
}

.ejdxId svg {
	width: 1.67vw;
	height: 1.67vw;
}

@media screen and (max-width:1199px) {
	.ejdxId {
		display: none;
	}
}

.jxkoqg {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1.88vw 2.08vw;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.jxkoqg svg {
	cursor: pointer;
}

.jxkoqg svg path {
	stroke: #FFFFFF;
}

.jxkoqg svg:hover path {
	stroke: #CC122D;
}

.gAHIgs {
	background: #CC122D;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.kzBXCr {
	height: 100%;
	width: 100%;
	background: transparent;
	color: #A5ACB8;
	font-size: 1.25vw;
	border: none;
}

.kzBXCr:active,
.kzBXCr:hover,
.kzBXCr:focus {
	outline: 0;
	outline-offset: 0;
}

.eaQXVR {
	width: 0.23vw;
}

@media screen and (max-width:1199px) {
	.eaQXVR {
		width: 2.69vw;
		height: 4.69vw;
	}
}

@media screen and (max-width:767px) {
	.eaQXVR {
		width: 4.27vw;
		height: 4.27vw;
	}
}

.ewMwGG {
	border: 1px solid #A5ACB8;
	height: 1.88vw;
	width: 1.88vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.ewMwGG:hover {
	background: #CC122D;
	border: 1px solid #CC122D;
}

.ewMwGG:hover .minusIcon__StyledSVG-sc-f1aca09f-0 path {
	stroke: #FFFFFF;
}

@media screen and (max-width:1199px) {
	.ewMwGG {
		width: 4.69vw;
		height: 4.69vw;
	}
}

@media screen and (max-width:767px) {
	.ewMwGG {
		width: 7.47vw;
		height: 7.47vw;
	}
}

.iKajMj {
	width: 0.23vw;
}

@media screen and (max-width:1199px) {
	.iKajMj {
		width: 2.69vw;
		height: 4.69vw;
	}
}

@media screen and (max-width:767px) {
	.iKajMj {
		width: 4.27vw;
		height: 4.27vw;
	}
}

.czrPvS {
	border: 1px solid #A5ACB8;
	height: 1.88vw;
	width: 1.88vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.czrPvS:hover {
	background: #CC122D;
	border: 1px solid #CC122D;
}

.czrPvS:hover .plusIcon__StyledSVG-sc-2c00a8d7-0 path {
	stroke: #FFFFFF;
}

@media screen and (max-width:1199px) {
	.czrPvS {
		width: 4.69vw;
		height: 4.69vw;
	}
}

@media screen and (max-width:767px) {
	.czrPvS {
		width: 7.47vw;
		height: 7.47vw;
	}
}

.hesYvP {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	width: 1.25vw;
	height: 1.25vw;
	cursor: pointer;
}

@media screen and (max-width:1199px) {
	.hesYvP {
		width: 3.13vw;
		height: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.hesYvP {
		width: 6.4vw;
		height: 6.4vw;
	}
}

.hGfEGh {
	width: 11.35vw;
	height: 3.15vw;
}

@media screen and (max-width:1199px) {
	.hGfEGh {
		width: 20.6vw;
		height: 5.74vw;
	}
}

@media screen and (max-width:767px) {
	.hGfEGh {
		width: 42.13vw;
		height: 11.73vw;
	}
}

.iBxIpi {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: opacity 225ms cubic-bezier(0.4,0,0.2,1);
	transition: opacity 225ms cubic-bezier(0.4,0,0.2,1);
	overflow: hidden;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	-webkit-transition: 225ms cubic-bezier(0.4,0,0.2,1) 0ms;
	transition: 225ms cubic-bezier(0.4,0,0.2,1) 0ms;
}

.eUScSL {
	font-family: FCSM-Normal,sans-serif;
	top: 0;
	right: 0;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	outline: 0;
	z-index: 1200;
	position: fixed;
	overflow-y: auto;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #FFFFFF;
	width: 28.44vw;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	visibility: hidden;
	width: 240px;
	-webkit-transform: translateX(240px);
	-ms-transform: translateX(240px);
	transform: translateX(240px);
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-transition: 325ms cubic-bezier(0,0,0.2,1) 0ms;
	transition: 325ms cubic-bezier(0,0,0.2,1) 0ms;
	-webkit-transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, -webkit-transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
	-webkit-transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
	transition: box-shadow 300ms cubic-bezier(0.4,0,0.2,1) 0ms, transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
}

@media screen and (max-width:1199px) {
	.eUScSL {
		width: 71.84vw;
	}
}

@media screen and (max-width:767px) {
	.eUScSL {
		width: 100vw;
	}
}

.KRmuM {
	width: 100%;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 1.25vw;
	-webkit-flex-basis: min-content;
	-ms-flex-preferred-size: min-content;
	flex-basis: min-content;
}

.KRmuM svg {
	width: 0.86vw;
	height: 0.86vw;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media screen and (max-width:1199px) {
	.KRmuM {
		padding: 0 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.KRmuM {
		padding: 0 4.27vw;
	}
}

.ehePCT {
	color: #0D1116;
	font-size: 1.25vw;
}

@media screen and (max-width:1199px) {
	.ehePCT {
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.ehePCT {
		font-size: 6.4vw;
	}
}

.fGgVJu {
	width: 1.25vw;
	height: 1.25vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.fGgVJu svg {
	width: 100%;
	height: 100%;
}

@media screen and (max-width:1199px) {
	.fGgVJu {
		width: 3.13vw;
		height: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.fGgVJu {
		width: 6.4vw;
		height: 6.4vw;
	}
}

.jFgmCB {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.sJocr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 4.06vw;
	border-bottom: 1px solid #DCE1EA;
	padding: 1.25vw 0;
	gap: 0.21vw;
}

.sJocr > svg {
	margin-top: auto;
	margin-left: auto;
	padding-bottom: 0.61vw;
}

@media screen and (max-width:1199px) {
	.sJocr {
		gap: 1.56vw;
	}

	.sJocr > svg {
		padding-bottom: 2vw;
	}
}

@media screen and (max-width:767px) {
	.sJocr {
		gap: 2.4vw;
		padding: 3.34vw 0 1.25vw;
		border-bottom: none;
	}

	.sJocr > svg {
		padding-bottom: 3vw;
	}
}

.gNiHtx {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 4.06vw;
	border-bottom: none;
	padding: 1.25vw 0;
	gap: 0.21vw;
}

.gNiHtx > svg {
	margin-top: auto;
	margin-left: auto;
	padding-bottom: 0.61vw;
}

@media screen and (max-width:1199px) {
	.gNiHtx {
		gap: 1.56vw;
	}

	.gNiHtx > svg {
		padding-bottom: 2vw;
	}
}

@media screen and (max-width:767px) {
	.gNiHtx {
		gap: 2.4vw;
		padding: 3.34vw 0 1.25vw;
		border-bottom: none;
	}

	.gNiHtx > svg {
		padding-bottom: 3vw;
	}
}

.fqGvoX {
	width: 4.6vw;
	height: 4.6vw;
	border: 1px solid #DCE1EA;
}

@media screen and (max-width:1199px) {
	.fqGvoX {
		width: 10.17vw;
		height: 10.17vw;
	}
}

@media screen and (max-width:767px) {
	.fqGvoX {
		width: 20.8vw;
		height: 20.8vw;
	}
}

.liNjeB {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0.16vw 0.42vw;
}

.eiliuw {
	-webkit-align-items: flex-start;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	margin: 0;
	font-size: 0.83vw;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	color: #0D1116;
}

@media screen and (max-width:1199px) {
	.eiliuw {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.eiliuw {
		font-size: 4.27vw;
	}
}

.ejSfJS {
	margin: 0;
	text-transform: uppercase;
	color: #5C6168;
	font-size: 0.63vw;
}

@media screen and (max-width:1199px) {
	.ejSfJS {
		font-size: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.ejSfJS {
		font-size: 3.2vw;
	}
}

.fPRmYR {
	margin-top: 0.83vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media screen and (max-width:767px) {
	.fPRmYR {
		display: none;
	}
}

.gykomS {
	display: none;
}

@media screen and (max-width:767px) {
	.gykomS {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		border-bottom: 1px solid #DCE1EA;
		margin-top: 1.14vw;
		padding-bottom: 3.34vw;
	}
}

.fOELjE {
	font-size: 0.64vw;
	color: #A5ACB8;
	text-transform: uppercase;
}

@media screen and (max-width:1199px) {
	.fOELjE {
		font-size: 1.56vw;
	}
}

@media screen and (max-width:767px) {
	.fOELjE {
		font-size: 3.2vw;
	}
}

.hdarQc {
	font-size: 0.94vw;
	margin-top: 0.26vw;
}

@media screen and (max-width:1199px) {
	.hdarQc {
		font-size: 2.35vw;
	}
}

@media screen and (max-width:767px) {
	.hdarQc {
		font-size: 4.8vw;
	}
}

.gEmBjL {
	font-size: 1.25vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #0D1116;
	grid-gap: 1.04vw;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 1.46vw;
	margin-right: 2.08vw;
}

@media screen and (max-width:1199px) {
	.gEmBjL {
		font-size: 3.13vw;
		grid-gap: 1.56vw;
		margin-left: 1.8vw;
		margin-right: 2.3vw;
	}
}

@media screen and (max-width:767px) {
	.gEmBjL {
		grid-gap: 3.87vw;
		margin-left: 7.94vw;
		margin-right: 7.94vw;
		font-size: 6.4vw;
	}
}

.elHEwW {
	font-size: 1.25vw;
	color: #0D1116;
}

@media screen and (max-width:1199px) {
	.elHEwW {
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.elHEwW {
		font-size: 4.8vw;
	}
}

.eKBmRh {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-end;
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
	margin-left: auto;
	padding-bottom: 0.42vw;
}

.eKBmRh svg {
	width: 1.25vw;
	height: 1.25vw;
}

.eKBmRh svg > path {
	stroke: #5C6168;
}

.eKBmRh svg:hover path {
	stroke: #CC122D;
}

@media screen and (max-width:1199px) {
	.eKBmRh svg {
		width: 3.13vw;
		height: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.eKBmRh {
		-webkit-align-items: flex-start;
		-webkit-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
	}

	.eKBmRh svg {
		width: 6.4vw;
		height: 6.4vw;
	}
}

.pjsqZ {
	position: relative;
}

.jkAojg {
	position: absolute;
	font-family: FCSM-Normal,sans-serif;
	background: #CC122D;
	padding: 0.1vw 0.3vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	right: -0.5vw;
	top: -0.3vw;
	border-radius: 20px;
	font-size: 0.63vw;
	text-align: center;
}

@media screen and (max-width:1199px) {
	.jkAojg {
		padding: 0.2vw 0.8vw;
		font-size: 1.56vw;
		right: -0.8vw;
		top: -0.8vw;
	}
}

@media screen and (max-width:767px) {
	.jkAojg {
		padding: 0.3vw 1.5vw;
		font-size: 3.2vw;
		right: -1.9vw;
		top: -1.2vw;
	}
}

.bmlvaY:hover path {
	stroke: #CC122D;
}

.grgchN {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-basis: min-content;
	-ms-flex-preferred-size: min-content;
	flex-basis: min-content;
	padding: 0 1.25vw;
}

@media screen and (max-width:1199px) {
	.grgchN {
		padding: 0 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.grgchN {
		padding: 0 4.27vw;
	}
}

.exmghx {
	width: 100%;
	font-size: 0.73vw;
	font-weight: 500;
	text-transform: uppercase;
	color: #0D1116;
	padding: 0.83vw 1.67vw;
	-webkit-text-decoration: none;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	margin-bottom: 1.35vw;
}

.exmghx:hover {
	border-bottom: 4px solid #CC122D;
}

@media screen and (max-width:1199px) {
	.exmghx {
		font-size: 1.83vw;
		margin-bottom: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.exmghx {
		font-size: 3.73vw;
		margin-bottom: 6.4vw;
	}
}

.kNsZAC {
	width: 100%;
	font-size: 0.73vw;
	font-weight: 500;
	text-transform: uppercase;
	color: #0D1116;
	padding: 0.83vw 1.67vw;
	-webkit-text-decoration: none;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	margin-bottom: 1.35vw;
	border-bottom: 4px solid#CC122D;
}

.kNsZAC:hover {
	border-bottom: 4px solid #CC122D;
}

@media screen and (max-width:1199px) {
	.kNsZAC {
		font-size: 1.83vw;
		margin-bottom: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.kNsZAC {
		font-size: 3.73vw;
		margin-bottom: 6.4vw;
	}
}

.hXlGKy {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 1500px;
	left: -1500px;
	background-color: #0D1116;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 999;
	overflow: auto;
	min-height: 100vh;
}

.cfUqPs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100vw;
}

@media screen and (max-width:1199px) {
	.cfUqPs {
		padding: 2.61vw 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.cfUqPs {
		padding: 4.27vw 4.8vw;
	}
}

@media screen and (max-width:1199px) {
	.hlXwBF {
		position: absolute;
		-webkit-transform: translate(50%,-50%);
		-ms-transform: translate(50%,-50%);
		transform: translate(50%,-50%);
		top: 50%;
		right: 2vw;
	}

	.hlXwBF > svg {
		display: block;
		width: 2.09vw;
		height: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.hlXwBF {
		right: 4vw;
	}

	.hlXwBF > svg {
		width: 4.27vw;
		height: 4.27vw;
	}
}

@media screen and (max-width:1199px) {
	.fbYNmo {
		position: relative;
		width: 100%;
	}
}

@media screen and (max-width:767px) {
	.fbYNmo {
		width: 78.67vw;
	}
}

@media screen and (max-width:1199px) {
	.bzqUHW {
		background: #1B232C;
		border: 1px solid #5C6168;
		color: #FFFFFF;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 1.83vw 4.09vw 1.83vw 2.09vw;
		font-size: 2.09vw;
	}

	.bzqUHW:active,
 .bzqUHW:hover,
 .bzqUHW:focus {
		outline: 0;
		outline-offset: 0;
	}
}

@media screen and (max-width:767px) {
	.bzqUHW {
		padding: 1.33vw 8.27vw 1.33vw 4.27vw;
		font-size: 4.27vw;
	}
}

.gAPSVR {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: auto;
}

.egcOGS {
	color: #FFFFFF;
	-webkit-text-decoration: none;
	text-decoration: none;
	font-family: FCSM-Bold,sans-serif;
	text-transform: capitalize;
}

@media screen and (max-width:1199px) {
	.egcOGS {
		font-size: 4.17vw;
		padding: 1.56vw 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.egcOGS {
		font-size: 8.53vw;
		padding: 3.2vw 4.27vw;
	}
}

@media screen and (max-width:375px) {
	.egcOGS {
		font-size: 6.4vw;
		padding: 3.2vw 4.27vw;
	}
}

.fpiUYc {
	border-top: 0.05vw solid #A5ACB8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-family: FCSM-Normal,sans-serif;
	text-transform: uppercase;
}

@media screen and (max-width:1199px) {
	.fpiUYc {
		padding: 3.13vw;
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.fpiUYc {
		padding: 6.4vw 4.27vw;
		font-size: 4.27vw;
	}
}

.gfDrDW {
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.gICbNn {
	border-top: 0.05vw solid #A5ACB8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: FCSM-Normal,sans-serif;
	text-transform: uppercase;
}

@media screen and (max-width:1199px) {
	.gICbNn {
		padding: 3.13vw;
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.gICbNn {
		padding: 6.4vw 4.27vw;
		font-size: 4.27vw;
	}
}

.cZfQDg {
	border-top: 0.05vw solid #A5ACB8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	-ms-flex-pack: left;
	justify-content: left;
}

@media screen and (max-width:1199px) {
	.cZfQDg {
		padding: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.cZfQDg {
		padding: 6.4vw 4.27vw;
	}
}

.uVBdI {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 1.56vw;
	background-color: #A5ACB810;
	border-radius: 50%;
}

@media screen and (max-width:1199px) {
	.javYRX {
		background: #CC122D;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		cursor: pointer;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 1.83vw 1.76vw;
		height: 100%;
		border: 1px solid #5C6168;
		border-left: none;
		margin-right: 2.74vw;
	}
}

@media screen and (max-width:767px) {
	.javYRX {
		padding: 1.69vw;
	}

	.javYRX svg {
		width: 4.27vw;
		height: 4.27vw;
	}
}

.coXiEA {
	display: grid;
	-webkit-box-pack: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1.67vw 0;
}

.coXiEA .swiper {
	width: 100%;
	height: 100%;
}

.coXiEA .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #1B232C;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.coXiEA .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width:767px) {
	.coXiEA {
		display: none;
	}
}

.kSCeqn {
	display: grid;
	grid-auto-rows: auto auto;
	width: 100%;
	background: #1B232C;
	justify-items: center;
}

.gAreAA {
	background: #1B232C;
	display: grid;
	justify-items: center;
	padding-bottom: 3.33vw;
}

@media screen and (max-width:1199px) {
	.gAreAA {
		padding-bottom: 3.91vw;
	}
}

@media screen and (max-width:767px) {
	.gAreAA {
		padding-bottom: 8.53vw;
	}
}

.cqAetV {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	color: #A5ACB8;
}

.kRDhuk {
	background: #5C6168;
	height: 0.05vw;
	border: none;
	width: 100%;
	margin: 0;
	display: none;
}

@media screen and (max-width:767px) {
	.kRDhuk {
		display: block;
	}
}

.jyVvsK {
	background: #5C6168;
	width: 100%;
	height: 0.05vw;
	border: none;
	margin: 1.25vw 0 1.61vw;
}

@media screen and (max-width:1199px) {
	.jyVvsK {
		margin: 2.87vw 0 4.3vw;
	}
}

@media screen and (max-width:767px) {
	.jyVvsK {
		display: none;
	}
}

.budKUK {
	width: 100%;
	background: #5C6168;
	height: 0.05vw;
	border: none;
	margin: 0;
}

.fEYR {
	color: #0D1116;
	width: 100%;
	padding: 0 1.25vw 4.06vw;
	box-sizing: border-box;
}

.fEYR * {
	box-sizing: border-box;
}

@media screen and (max-width:1199px) {
	.fEYR {
		padding: 0 3.13vw 12.17vw;
	}
}

@media screen and (max-width:767px) {
	.fEYR {
		padding: 0 4.27vw 23.8vw;
	}
}

.fjmvTv {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 0;
}

@media screen and (max-width:767px) {
	.fjmvTv {
		margin-bottom: 5.93vw;
	}
}

.brvKVr {
	font-size: 0.83vw;
}

@media screen and (max-width:1199px) {
	.brvKVr {
		font-size: 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.brvKVr {
		font-size: 4.27vw;
	}
}

.fpBCJi {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 0.63vw;
	color: #CC122D;
	cursor: pointer;
	height: auto;
}

.fpBCJi svg {
	width: 1.25vw;
	height: 1.25vw;
}

@media screen and (max-width:1199px) {
	.fpBCJi {
		font-size: 1.56vw;
	}

	.fpBCJi svg {
		width: 3.13vw;
		height: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.fpBCJi {
		font-size: 3.2vw;
	}

	.fpBCJi svg {
		width: 6.4vw;
		height: 6.4vw;
	}
}

.dSDIlh {
	background: #CC122D;
	position: fixed;
	bottom: 0;
	right: 0;
	height: 4.06vw;
	width: 28.44vw;
	color: #FFFFFF;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 0.83vw;
}

@media screen and (max-width:1199px) {
	.dSDIlh {
		width: 71.84vw;
		height: 10.17vw;
		font-size: 3.13vw;
	}
}

@media screen and (max-width:767px) {
	.dSDIlh {
		width: 100vw;
		height: 20.8vw;
		font-size: 2.3vw;
	}
}

.ksVGKi {
	padding-left: 0.83vw;
}

@media screen and (max-width:1199px) {
	.ksVGKi {
		padding-left: 1.2vw;
	}
}

@media screen and (max-width:767px) {
	.ksVGKi {
		padding-left: 4.27vw;
		font-size: 4.27vw;
	}
}

.hGNvKk {
	cursor: pointer;
	margin-right: 1.2vw;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-size: 0.73vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 1px solid #FFFFFF;
	padding: 0.73vw 1.25vw;
}

@media screen and (max-width:1199px) {
	.hGNvKk {
		padding: 1.83vw 3.13vw;
		font-size: 1.83vw;
	}
}

@media screen and (max-width:767px) {
	.hGNvKk {
		font-size: 3.73vw;
		padding: 3.73vw 6.4vw;
		margin-right: 4.27vw;
	}
}

.koZvri {
	white-space: nowrap;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.SxqnV {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
	margin-right: 5.68vw;
	grid-gap: 1.72vw;
}

.SxqnV svg {
	width: 1.25vw;
	height: 1.25vw;
	cursor: pointer;
}

.FnZDZ {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	background: #0D1116;
	width: 100%;
	z-index: 100;
	border-bottom: 0.05vw solid #5C6168;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	will-change: transition;
}

@media screen and (max-width:1199px) {
	.FnZDZ {
		display: none;
	}
}

.dWMqjg {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #0D1116;
	width: 100%;
	z-index: 100;
	border-bottom: 0.05vw solid #5C6168;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	will-change: transition;
}

@media screen and (max-width:1199px) {
	.dWMqjg {
		display: none;
	}
}

.jBsgrO {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: end;
	-ms-flex-item-align: end;
	align-self: end;
	padding: 1.15vw 1.25vw;
	width: 13.18vw;
	height: 3.18vw;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	border-right: 0.05vw solid #5C6168;
}

.jbrOOk {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: end;
	-ms-flex-item-align: end;
	align-self: end;
	padding: 0.42vw 3.02vw;
	width: 9.06vw;
	height: 2.19vw;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;
	border-right: 0.05vw solid #5C6168;
}

.fDQfyr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.eQZA-DI {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 100%;
	height: 50%;
	border-bottom: 0.05vw solid #5C6168;
}

.hcwUec {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1.25vw;
	padding-right: 1.67vw;
	cursor: pointer;
}

.ilYyZK {
	padding: 0.43vw 0.83vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	border-left: 0.05vw solid #5C6168;
}

.ilYyZK:hover {
	color: #CC122D;
}

.jQuHGn {
	position: relative;
	font-family: FCSM-Normal,sans-serif;
	font-size: 0.83vw;
	text-transform: uppercase;
	padding: 0.43vw 0.83vw;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-left: 0.05vw solid #5C6168;
	cursor: pointer;
	-webkit-letter-spacing: -0.165px;
	-moz-letter-spacing: -0.165px;
	-ms-letter-spacing: -0.165px;
	letter-spacing: -0.165px;
	background: #0D1116;
}

.dUZYLH {
	font-family: FCSM-Normal,sans-serif;
	font-size: 0.83vw;
	text-transform: uppercase;
}

.dsLwWq {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 0.83vw;
	height: 50%;
}

.dsvqQj {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 0.83vw;
	height: 62%;
}

.bxhbqQ {
	display: none;
	height: 8.86vw;
}

@media screen and (max-width:1199px) {
	.bxhbqQ {
		display: block;
	}
}

@media screen and (max-width:767px) {
	.bxhbqQ {
		height: 20.12vw;
	}
}

.ftVVBb {
	display: none;
	height: 0;
}

@media screen and (max-width:1199px) {
	.ftVVBb {
		display: block;
	}
}

@media screen and (max-width:767px) {
	.ftVVBb {
		height: 0;
	}
}

.cJZSRA {
	display: none;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1.56vw 2.09vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #0D1116;
	box-sizing: border-box;
	z-index: 99999;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	overflow: hidden;
}

@media screen and (max-width:1199px) {
	.cJZSRA {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 1.56vw 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.cJZSRA {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding: 4vw 4.27vw;
	}
}

.gfqdLN {
	display: none;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1.56vw 2.09vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #0D1116;
	box-sizing: border-box;
	z-index: 99999;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	overflow: hidden;
}

@media screen and (max-width:1199px) {
	.gfqdLN {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 1.56vw 2.09vw;
	}
}

@media screen and (max-width:767px) {
	.gfqdLN {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		padding: 4vw 4.27vw;
	}
}

.cVkzGA {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
}

.cVkzGA svg {
	width: 2.71vw;
	height: 2.71vw;
}

@media screen and (max-width:1199px) {
	.cVkzGA svg * {
		stroke: #A5ACB8;
	}
}

@media screen and (max-width:767px) {
	.cVkzGA svg {
		width: 5.71vw;
		height: 5.71vw;
	}
}

.jvfjhc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
	padding-right: 3.13vw;
	grid-gap: 3.13vw;
}

.jvfjhc svg {
	width: 3.13vw;
	height: 3.13vw;
	cursor: pointer;
}

@media screen and (max-width:767px) {
	.jvfjhc svg {
		width: 6.4vw;
		height: 6.4vw;
	}
}

@media screen and (max-width:767px) {
	.jvfjhc {
		padding-right: 6.4vw;
		grid-gap: 6.4vw;
	}
}

.ayEgO {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.kZGjHm {
	background-color: #0D1116;
	color: #FFFFFF;
}

.jwImZs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #0D1116;
	font-family: "Roboto",sans-serif;
	overflow-x: hidden;
	min-height: calc(100vh - 8vw);
	padding-top: 5.52vw;
}

@media screen and (max-width:1199px) {
	.jwImZs {
		padding-top: 0;
	}
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #FFFFFF;
}